build/
.DS_Store
.idea/
*.xcodeproj/project.xcworkspace/xcuserdata/**
*.xcodeproj/xcuserdata/**
*.xcworkspace/project.xcworkspace/xcuserdata/**
*.xcworkspace/xcuserdata/**
**/*.xcodeproj/project.xcworkspace/xcuserdata/**
**/*.xcodeproj/xcuserdata/**
*.xccheckout
